.categories {
    transition: all 0.3s;
    width: 30vw;
    height: 100vh;
    position: absolute;
    right: 0;
    opacity: 0;
    z-index: 80;
    visibility: hidden;
  }

.categories.active{
    right: 0;
}

.categories-image{
    width: 100%;
}

.categories_h3{
    font-size: 1rem;
    color: #0C193A;
}