.categories{
    display: flex;
    flex-direction: column;
    /* justify-content:flex-end; */
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
}

.categories.active{
    right: 0;
}

.categories-image{
    width: 100%;
}

.categories_h3{
    font-size: 1rem;
    color: #0C193A;
}