.productcard{
display: flex;
width: 341px;
height: 214.63px;
box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
border: 1px solid #ecedf0;
border-radius: 4px;
margin: 10px;
padding: 16px;
background: #ffff;
}
.productcard_selection {
  display: flex;
  flex-direction: column;
  height: 142px;
  width: 180px;
}
.productcard_image{
    width: 142px;
    height: 142px;
    margin-bottom: 30px;
}
.productcard_brand{
    width: 60px;
    height: 40px;
}
.productcard_title{
    font-size: 14px;
    margin: 0px 0px 32px 0px;
}
.productcard_price{
    font-size: 24px;
    margin-bottom: 50px;
}
.truck{
    color: #00a46e;
    width: 3vh;
    height: 2vh;
}
.productcard-text{
    margin-left: 8px;
}
.apercu-icon{
    color: #00a46e;
    width: 3vh;
    height: 3vh;
    margin-left: 15px;
}
.productcard a {
    color: black;
    text-decoration: none;
}