.recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #204387;
    z-index: 100;
}
.recherche_h2 {
    font-size: 1.1rem;
}
.recherche_selection {
    display: flex;
    justify-content: center;
}
.recherche-button {
    text-align: center;
    width: 40%;
    margin: 5px;
    border: 3px solid #03ADB1;
    border-radius: 10px;
    color: #204387;
    font-size: 0.9rem;
}
.recherche-button:active {
    background: #03ADB1;
    color: white;
}
.close{
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: 15px;
}
.close svg{
    width: 32px;
    height: 32px;
}
